---
import BaseLayout from '@layouts/BaseLayout.astro'
import CompanyDetails from '@components/CompanyDetails.astro'
import InvoiceItemsTable from '@components/InvoiceItemsTable.astro'

import type { InvoiceFrontmatter } from 'src/types/InvoiceFrontmatter'

import config from '@config'

export interface Props {
    frontmatter: InvoiceFrontmatter
}

const { frontmatter } = Astro.props;
const hasNotes = Astro.slots.has('default') && (await Astro.slots.render('default')).length > 0
---
<BaseLayout title={frontmatter.invoiceNumber}>
    <h1>{frontmatter.invoiceNumber}</h1>
    <div class="company-details-container">
        <CompanyDetails title="From" company={frontmatter.sender} />
        <CompanyDetails title="To" company={frontmatter.recipient} />
    </div>
    <InvoiceItemsTable currency={frontmatter.currency || config.currency} invoiceItems={frontmatter.items} />
    {hasNotes && <p>Additional notes:</p><slot/>}
</BaseLayout>
<style>
    .company-details-container {
        display: flex;
        gap: 1.5rem;
    }
</style>